/*1199px*/

@media only screen and (max-width: 991px) {
    /* first row */
    .second-row {
        grid-template-columns: 1fr;
    }
    .second-row-price{
        grid-template-columns: 1fr 1fr;
    }
    .third-row {
        grid-template-columns: repeat(2, 1fr);
    }
    .fourth-row-img{
        width: 40%;
    }
    .fourth-row-content{
        width: 60%;
    }
    
    .sixth-row {
        grid-template-columns: repeat(4, 1fr);
    }
    .second-row-banner {
        max-height: 300px;
    }
    
}

@media only screen and (max-width: 575px) {
    .fourth-row-img{
        width: 100%;
        text-align: center;
    }
    .fourth-row-content{
        width: 100%;
    }
    .container .fourth-row-img img {
        width: 80%;
    }
    .sixth-row {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 480px) {
    .third-row {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (max-width: 425px) {
    .third-row .card img{
        height: 80px;
    }
    .third-row .card p{
        font-size: 22px;
    }
    .third-row .card h5{
        font-size: 26px;
    }
    .container .fourth-row-img img {
        width: 100%;
    }
    .fourth-row-content h4{
        font-size: 25px;
    }
    .fourth-row-content p{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .fourth-row-content a{
        font-size: 19px;
        font-weight: 600;
    }
    .sixth-row {
        grid-template-columns: repeat(2, 1fr);
    }
    .fifth-row .fifth-row-mid {
        font-size: 25px;
    }
}